body {
    padding-top: 55px;
}

section {
    padding-top: 70px;
    margin-top: -55px;
}

h1, h2, h3, h4, h5 {
    color: goldenrod;
}

.jumbotron {
    background-color: rgb(30, 32, 34);
}

.jumbotron > p {
    color: rgb(218, 215, 210);
    text-align: center;
}

.wrapper {
    padding: 10px;
    background-color: #212529;
}

p {
    color: #e8e6e3
}

.jumbotron h1 {
    text-align: center;
}

.jumbotron h3 {
    padding: 10px;
    text-align: center;
}

.grade {
    font-weight: bold;
}

#logo {
    font-size: 20px;
    color: goldenrod;
    margin-right: 16px;
    padding: 5px, 0px;
}

#portrait {
    width: 55%;
    margin: auto;
    display: block
}

#linkedin-logo, #github-logo {
    min-height: 21px;
    max-height: 64px;
    margin: auto;
    display: block;
}

#testimonial {
    text-align: center;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}