h1, h2, h3, h4, h5 {
    color: goldenrod;
}
 
/* p {
    color: whitesmoke;
} */

.wrapper {
    padding: 10px;
    /* background-color: black; */
}
.jumbotron {
    /* background-color: black; */
}

.jumbotron h1 {
    text-align: center;
}

.jumbotron h3 {
    padding: 10px;
    text-align: center;
}

.jumbotron p {
    text-align: center;
}

.grade {
    font-weight: bold;
}

#portrait {
    width: 50%;
}

#linkedin-logo, #github-logo {
    min-height: 21px;
    max-height: 64px;
}